.input {
  background: var(--color-background);
  padding: 12px 24px;
  min-height: 52px;
}

.inputData {
  background: transparent;
  padding: 8px 0;
  color: var(--color-background);
}

input {
  background: transparent;
  width: 100%;
}


.tag {
  color: var(--color-background);
  padding: 4px 8px;
  background-color: var(--color-links);
  width: fit-content;
  border-radius: 8px;
  position: relative;
  left: 24px;
  top: 12px;
  min-height: auto;
  font-size: 12px;
}

.label {
  color: var(--color-background);
  padding: 4px 8px;
  background-color: var(--color-links);
  width: fit-content;
  border-radius: 8px;
  position: relative;
  left: 24px;
  top: 12px;
}

/* classes para a label no CSS */
.label-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.label-visible {
  opacity: 1;
  pointer-events: auto;
}
